.App {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  margin-top: 150px;
}

.counter {
  min-height: 200px;
  min-width: 250px;
  background-color: rgb(53, 134, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 45px;
  border: 3px solid rgb(162, 201, 255);
  border-radius: 10px;
}

.display {
  width: 180px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid rgb(162, 201, 255);
  border-radius: 10px;
}

.btn-block {
  display: flex;
  width: 75%;
  justify-content: space-around;
  gap: 5px;
}

.btn {
  width: 90px;
  height: 35px;
  border: 3px solid rgb(162, 201, 255);
  border-radius: 10px;
}
